set starts: this is another kinds of data structure
01. set always use second braces or carly braces for defining
02. set pop the value from the first
03. it will never return duplicate values

In [ ]:
# set example:
# basic structure of set
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
s1

In [ ]:
# set example:
# set will never allow duplicates value
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
s1

In [ ]:
# set example:
# usage of len function: it always avoid duplicates values for finding length of this set
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
len(s1)

In [ ]:
# set example: access set
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
# s1[4] we can not access set in this way

# function of set data structure:
01. add(value in the last)
02. clear(all value)
03. copy(copy set)
04. update(value insertion like add function)
05. union(excludes duplicate value)
06. intersection(return common values)
07. difference(prirotise first one and remove all duplicates value)
08. difference_update(different function just first set would be the new value by this function)
09. pop(delete first value)
10. remove(value will be deleted. if duplicates, first one will be deleted)

In [ ]:
# function of set:
# s1.add(10), here value 10 will be added at the end of this set
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
s1.add(10)
s1

In [ ]:
# function of set:
# s1.clear() here this clear function will clear the set
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
s1.clear()
s1

In [ ]:
# function of set:
# s1.copy(), here this function will copy the s1 set
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
s2 = s1.copy()
s2

In [ ]:
# function of set:
# s1.update((10, 11)), this function will add values in the end
s1 = {1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9}
s1.update((10, 11))
s1

In [ ]:
# Mathematical function of set: union() function always return unique value, 
# it excludes duplicate values
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {6, 7, 8, 9, 10, 11, 12, 13}
s1.union(s2)

In [ ]:
# Mathematical function of set: s1.intersection() function always return common values
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {6, 7, 8, 9, 10, 11, 12, 13}
s1.intersection(s2)

In [ ]:
# Mathematical function of set: s1.difference(s2) function deduct common values from s2 but priotise s1 value
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {6, 7, 8, 9, 10, 11, 12, 13}
s1.difference(s2)

In [ ]:
# Mathematical function of set: s1.difference_update(s2) function deduct common values from s2 
# but priotise s1 value and differenced s1 value will be new value of s1
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {6, 7, 8, 9, 10, 11, 12, 13}
s1.difference_update(s2)
s1

In [ ]:
# Mathematical function of set: s1.pop() function delete first value of a set
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s1.pop()
s1

In [ ]:
# difference between list.pop() and set.pop() function is list delete last value of a list 
# and set delete first value of a set
s1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s1.pop()
s1

In [ ]:
# Mathematical function of set: s1.remove() function delete value of a set, 
# if duplicate then first value will be removed from a set
s1 = {1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10}
s1.remove(7)
s1